@import "https://fonts.googleapis.com/css?family=Exo:400,700";
* {
    margin:0;
    padding:0
}
html {
    scroll-behavior:smooth
}
body {
    font-family:'Exo',sans-serif;
    width:100%;
    overflow-y:hidden
}
#login_navigation_bar {
    width:100%;
    position:absolute;
    top:0;
    height:10%;
    background-color:#00103a;
}

#login_navigation_bar_border {
    width:100%;
    position:absolute;
    top:0;
    height:11%;
    background-color:#00103a;
    opacity:.3
}

#login_home_button {
    position:absolute;
    background-color:#00103a;
    width:8%;
    height:50%;
    top:20%;
    left:23.5%;
    z-index:3;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    transition:transform .11s linear;
    text-decoration:none;
    transition:background-color .3s ease-out
}

#login_home_button:hover {
    cursor:pointer;
    background-color:#258aff
}

#login_home_button p {
    margin-top:6%;
    color:#fff;
    text-align:center;
    font-size:1.6em;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
}

#login_home_button a {
    text-decoration:none
}

#login_about_button {
    position:absolute;
    background-color:#00103a;
    width:8%;
    height:50%;
    top:20%;
    left:44.5%;
    z-index:3;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    transition:transform .11s linear;
    text-decoration:none;
    -webkit-transition:background-color .3s ease-out;
    -moz-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out
}

#login_about_button:hover {
    cursor:pointer;
    background-color:#258aff
}

#login_about_button p {
    margin-top:6%;
    color:#fff;
    text-align:center;
    font-size:1.6em;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
}

#login_about_button a {
    text-decoration:none;
}

#login_contact_button {
    position:absolute;
    background-color:#00103a;
    width:8%;
    height:50%;
    top:20%;
    right:26.5%;
    z-index:3;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    transition:transform .11s linear;
    text-decoration:none;
    -webkit-transition:background-color .3s ease-out;
    -moz-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out
}

#login_contact_button:hover {
    cursor:pointer;
    background-color:#258aff
}

#login_contact_button p {
    margin-top:6%;
    color:#fff;
    text-align:center;
    font-size:1.6em;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
}

#login_contact_button a {
    text-decoration:none
}

#login_horizontal_rectangle {
    height:60%;
    width:100%;
    background-color:#000121;
    position:absolute;
    top:20%;
    z-index:1
}

#login_horizontal_rectangle_border {
    height:64%;
    width:100%;
    background-color:#00042a;
    position:absolute;
    top:18%;
    opacity:.3;
    z-index:0
}

#sign_in_button {
    top:35%;
    width:20%;
    height:25%;
    left:19%;
    position:absolute;
    background:#1c29a0;
    z-index:2;
    border-radius:23% 23% 23% 23% / 60% 60% 60% 60%;
    border:10px solid #13184b;
    -webkit-transition:background-color .3s ease-out;
    -moz-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out;
    transition:all .4s ease-in-out;
    overflow:hidden
}

#sign_in_button:hover {
    background-color:#3a3dcb;
    cursor:pointer
}

#sign_in_button p {
    color:#fff;
    text-align:left;
    margin-left:19%;
    font-size:3em;
    font-weight:600;
    margin-top:12%
}

#sign_in_button_icon {
    position:absolute;
    z-index:2;
    color:#fff;
    left:70%;
    bottom:32%
}

#sign_up_button {
    top:35%;
    width:20%;
    height:25%;
    right:21%;
    position:absolute;
    background:#1c29a0;
    z-index:2;
    border-radius:23% 23% 23% 23% / 60% 60% 60% 60%;
    border:10px solid #13184b;
    -webkit-transition:background-color .3s ease-out;
    -moz-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out;
    transition:all .4s ease-in-out;
    overflow:hidden
}

#sign_up_button:hover {
    background-color:#3a3dcb;
    cursor:pointer
}

#sign_up_button p {
    color:#fff;
    text-align:left;
    margin-left:17%;
    font-size:3em;
    font-weight:600;
    margin-top:12%
}

#sign_up_button_icon {
    position:absolute;
    z-index:2;
    color:#fff;
    left:72%;
    bottom:32%
}

#login_navigation_arrow_to_the_footer {
    position:absolute;
    top:93%;
    margin-left:47.5%

}
#arrow_icon {
    color:#000121;
}
#arrow_icon:hover {
    color:#fff;
    cursor:pointer
}
#login_footer_icons {
    position:absolute;
    width:100%;
    height:7%;
    background-color:#000121
}

#login_facebook_footer_icon {
    position:absolute;
    padding-top:1%;
    left:35.25%;
    text-decoration:none;
}

#login_facebook_footer_icon:hover {
    cursor:pointer;
}

#login_mail_footer_icon {
    position:absolute;
    padding-top:1%;
    left:47.75%;
}

#login_mail_footer_icon:hover {
    cursor:pointer;
}

#login_instagram_footer_icon {
    position:absolute;
    padding-top:1%;
    left:61%;
}

#login_instagram_footer_icon:hover {
    cursor:pointer;
}





.context {
    width:100%;
    position:absolute;
    top:10vh
}

.area {
    background-color:#1c29a0;
    background-image:url(../background_patterns/swirl.png);
    width:100%;
    height:100vh
}

.circles {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}

.circles li {
    position:absolute;
    display:block;
    list-style:none;
    width:20px;
    height:20px;
    background:rgba(255,255,255,0.2);
    animation:animate 25s linear infinite;
    bottom:-150px
}

.circles li:nth-child(1) {
    background-image:url(../flags/japan.png);
    left:25%;
    width:150px;
    height:150px;
    animation-delay:3s;
    animation-duration:10s
}

.circles li:nth-child(2) {
    background-image:url(../flags/spain.png);
    left:10%;
    width:150px;
    height:150px;
    animation-delay:10s;
    animation-duration:10s
}

.circles li:nth-child(3) {
    background-image:url(../flags/italy.png);
    left:70%;
    width:150px;
    height:150px;
    animation-delay:4s;
    animation-duration:10s
}

.circles li:nth-child(4) {
    background-image:url(../flags/uk.png);
    margin-bottom:10px;
    left:40%;
    width:150px;
    height:150px;
    animation-delay:0;
    animation-duration:10s
}

.circles li:nth-child(5) {
    background-image:url(../flags/france.png);
    left:65%;
    width:150px;
    height:150px;
    animation-delay:1s;
    animation-duration:10s
}

.circles li:nth-child(6) {
    background-image:url(../flags/uk.png);
    left:85%;
    width:150px;
    height:150px;
    animation-delay:3s;
    animation-duration:10s
}

.circles li:nth-child(7) {
    background-image:url(../flags/germany.png);
    left:35%;
    width:150px;
    height:150px;
    animation-delay:7s;
    animation-duration:10s
}

.circles li:nth-child(8) {
    background-image:url(../flags/uk.png);
    left:5%;
    width:150px;
    height:150px;
    animation-delay:4s;
    animation-duration:10s
}

.circles li:nth-child(9) {
    background-image:url(../flags/corea.png);
    left:50%;
    width:150px;
    height:150px;
    animation-delay:10s;
    animation-duration:10s
}

.circles li:nth-child(10) {
    background-image:url(../flags/russia.png);
    left:65%;
    width:150px;
    height:150px;
    animation-delay:6s;
    animation-duration:10s
}

.circles li:nth-child(11) {
    background-image:url(../flags/portugal.png);
    left:85%;
    width:150px;
    height:150px;
    animation-delay:0;
    animation-duration:10s
}

.circles li:nth-child(12) {
    background-image:url(../flags/italy.png);
    left:22%;
    width:150px;
    height:150px;
    animation-delay:6s;
    animation-duration:10s
}

@keyframes animate {
    0% {
        transform:translateY(0) rotate(0deg);
        opacity:1;
        border-radius:20%
    }

    100% {
        transform:translateY(-1280px) rotate(360deg);
        opacity:1;
        border-radius:20%
    }
}