@import "https://fonts.googleapis.com/css?family=Exo:400,700";
* {
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Exo', sans-serif;
    width:100%;
    overflow-y: hidden
}
/* CONTENTS */
#home_content {

}

#about_content {
    display: none;
}

#contact_content {
    display: none;
}

#login_content {
    display: none;
}

#sign_in_content {
    display: none;
}

#sign_up_content {
    display: none;
}
/* BUTTONS OF HOME, ABOUT AND CONTACT CONTENT */
.home_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 5%;
    top: 24%;
    left: 90%;
    z-index: 2;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition:-webkit-transform .11s linear;
    transition:-webkit-transform .11s linear;
    -o-transition:transform .11s linear;
    transition:transform .11s linear;
    transition:transform .11s linear, -webkit-transform .11s linear;
    text-decoration:none;
    -webkit-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.home_button:hover {
    cursor: pointer;
    background-color: #258aff
}

.home_button p {
    margin-top: 3%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    font-weight: 600;
}

.home_button p:hover {
    color: white;
}

.home_button a {
    text-decoration: none
}

.about_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 5%;
    top: 32%;
    left:90%;
    z-index:3;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition:-webkit-transform .11s linear;
    transition:-webkit-transform .11s linear;
    -o-transition:transform .11s linear;
    transition:transform .11s linear;
    transition:transform .11s linear, -webkit-transform .11s linear;
    text-decoration:none;
    -webkit-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out;
    font-family: 'Open Sans', sans-serif;
}
.about_button:hover {
    cursor:pointer;
    background-color:#258aff
}

.about_button p {
    margin-top: 4%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    font-weight: 600
}

.about_button p:hover {
    color: white;
}

.about_button a {
    text-decoration: none
}
.contact_button {
    position:absolute;
    background-color:#00103a;
    width:8%;
    height:5%;
    top:40%;
    left:90%;
    z-index:3;
    border:#fffdfe solid 5px;
    border-radius:15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition:-webkit-transform .11s linear;
    transition:-webkit-transform .11s linear;
    -o-transition:transform .11s linear;
    transition:transform .11s linear;
    transition:transform .11s linear, -webkit-transform .11s linear;
    text-decoration:none;
    -webkit-transition:background-color .3s ease-out;
    -o-transition:background-color .3s ease-out;
    transition:background-color .3s ease-out;
    font-family: 'Open Sans', sans-serif;
}
.contact_button:hover {
    cursor:pointer;
    background-color:#258aff
}

.contact_button p {
    margin-top: 5%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    font-weight: 600
}

.contact_button p:hover {
    color: white;
}

.contact_button a {
    text-decoration: none
}
.horizontal_rectangle {
    height:30%;
    width:100%;
    background-color:#000121;
    position:absolute;
    top:20%
}
.horizontal_rectangle_border {
    height:34%;
    width:100%;
    background-color:#00042a;
    position:absolute;
    top:18%;
    opacity:.3;
    z-index:0
}
/* H1 OF HOME, ABOUT AND CONTACT CONTENT */
.h1_header {
    color: #fff;
    font-size: 600%;
    position: absolute;
    left: 4%;
    top: 29%;
    z-index: 2
}
/* NAVIGATION TO THE FOOTER */
.go_to_the_footer {
    position: absolute;
    top: 93%;
    margin-left: 47.5%;
    margin-right: 48%
}

.go_to_the_footer:hover {
    cursor: pointer
}

.arrow_icon {
    color: #000121;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out
}

.arrow_icon:hover {
    color: #fff
}
/* FOOTER */
.footer_icons {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #000121;
}

.facebook_footer_icon {
    position: absolute;
    padding-top: 1%;
    left: 35.25%;
    text-decoration: none;
}

.facebook_footer_icon:hover {
    cursor: pointer;
}

.mail_footer_icon {
    position: absolute;
    padding-top: 1%;
    left: 47.75%;
}

.mail_footer_icon:hover {
    cursor: pointer;
}

.instagram_footer_icon {
    position: absolute;
    padding-top: 1%;
    left: 61%;
}

.instagram_footer_icon:hover {
    cursor: pointer;
}

/* HOME CONTENT */
#home_start_button {
    top: 22%;
    width: 20%;
    height: 50%;
    left: 38%;
    position: absolute;
    background: #1c29a0;
    z-index: 2;
    border-radius: 23% 23% 23% 23% / 60% 60% 60% 60%;
    border: 10px solid #13184b;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#home_start_button:hover {
    background-color: #3a3dcb;
    cursor: pointer
}

#home_start_button p {
    color: #fff;
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT CONTENT */
#about_description {
    position: absolute;
    left: 26%;
    width: 58%;
    height: 100%;
    z-index: 2;

}

#about_app {
    color: #fff;
    font-size: 1.8em;
    top:39%;
    left:8%;
    position:absolute;
    text-align:center;
    font-weight:500;
    color:#FFF;
}





/* CONTACT CONTENT */
#contact_icons {
    position:absolute;
    width:100%;
    height:7%;
    top:36%;
    background-color:#000121;
    z-index:1
}

#contact_facebook_icon {
    position:absolute;
    padding-top:1%;
    left:42.25%;
}

#contact_facebook_icon:hover {
    cursor:pointer;
}
#contact_mail_icon {
    position:absolute;
    padding-top:1%;
    left:54.75%;
    color:#fff;
}

#contact_mail_icon:hover {
    cursor:pointer;
}
#contact_instagram_icon {
    position: absolute;
    padding-top: 1%;
    left: 67%;
}

#contact_instagram_icon:hover {
    cursor: pointer;
}

/* LOGIN CONTENT */
#login_navigation_bar {
    width: 100%;
    position: absolute;
    top: 0;
    height: 10%;
    background-color: #00103a;
}

#login_navigation_bar_border {
    width: 100%;
    position: absolute;
    top: 0;
    height: 11%;
    background-color: #00103a;
    opacity: .3
}

#login_home_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 23.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#login_home_button:hover {
    cursor: pointer;
    background-color: #258aff;

}

#login_home_button p {
    margin-top: 4.5%;
    margin-left: 8%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#login_home_button a {
    text-decoration: none;
}

#login_about_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 44.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#login_about_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#login_about_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#login_about_button a {
    text-decoration: none;
}

#login_contact_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    right: 26.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#login_contact_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#login_contact_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#login_contact_button a {
    text-decoration: none;
}

#login_horizontal_rectangle {
    height: 60%;
    width: 100%;
    background-color: #000121;
    position: absolute;
    top: 20%;
    z-index: 1
}

#login_horizontal_rectangle_border {
    height: 64%;
    width: 100%;
    background-color: #00042a;
    position: absolute;
    top: 18%;
    opacity: .3;
    z-index: 0
}
/* SIGN IN CONTENT */
/* SIGN IN BUTTONS */
#sign_in_button {
    top: 35%;
    width: 20%;
    height: 25%;
    left: 19%;
    position: absolute;
    background: #1c29a0;
    z-index: 2;
    border-radius: 23% 23% 23% 23% / 60% 60% 60% 60%;
    border: 10px solid #13184b;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden
}

#sign_in_button:hover {
    background-color: #3a3dcb;
    cursor: pointer
}

#sign_in_button p {
    color: #fff;
    text-align: left;
    margin-left: 19%;
    font-size: 3em;
    font-weight: 600;
    margin-top: 12%
}

#sign_in_button_icon {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 70%;
    bottom: 32%
}
/*VFGHJFHJFHJF*/
#sign_up_button {
    top: 35%;
    width: 20%;
    height: 25%;
    right: 21%;
    position: absolute;
    background: #1c29a0;
    z-index: 2;
    border-radius: 23% 23% 23% 23% / 60% 60% 60% 60%;
    border: 10px solid #13184b;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden
}

#sign_up_button:hover {
    background-color: #3a3dcb;
    cursor: pointer
}

#sign_up_button p {
    color: #fff;
    text-align: left;
    margin-left: 17%;
    font-size: 3em;
    font-weight: 600;
    margin-top: 12%
}

#sign_up_button_icon {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 72%;
    bottom: 32%
}


#sign_in_navigation_bar {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 10%;
    background-color: #00103a;
}

#sign_in_navigation_bar_border {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 11%;
    background-color: #00103a;
    opacity: 0.3;
}

#sign_in_home_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 23.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_in_home_button:hover {
    cursor: pointer;
    background-color: #258aff;

}

#sign_in_home_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_in_home_button a {
    text-decoration: none;
}

#sign_in_about_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 44.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_in_about_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#sign_in_about_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_in_about_button a {
    text-decoration: none;
}

#sign_in_contact_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    right: 26.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_in_contact_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#sign_in_contact_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_in_contact_button a {
    text-decoration: none;
}

#sign_in_horizontal_rectangle {
    height: 60%;
    width: 100%;
    background-color: #000121;
    position: absolute;
    top: 23%;
    z-index: 1;
}

#sign_in_horizontal_rectangle_border {
    height: 64%;
    width: 100%;
    background-color: #00042a;
    position: absolute;
    top: 21%;
    opacity: 0.3;
    z-index: 0;
}

#sign_in_h1_header {
    color: #fff;
    font-size: 4em;
    position: absolute;
    left: 43.1%;
    top: 13%;
    z-index: 2;
}

#sign_in_form {
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    padding: 5%;
}

input {
    margin-left: 17.5%;
    margin-top: 1.5%;
    width: 57%;
    background-color: #000121;;
    border: none;
    border-bottom: 3px solid white;
    font-size: 1.5em;
    color: #000000;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

input:focus {
    border: none;
    border-bottom: 4px solid #254eff;
    outline: none;
}

input, select, textarea {
    color: white;
}

::-webkit-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

::-moz-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

:-ms-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

::-ms-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

::placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

#login {
    border: none;
    color: black;
    margin-top: 6.5%;
    background-color: #0056d7;
    font-weight: 700;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    margin-bottom: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#login:hover {
    background: #1c29a0;
}

#wrong_data {
    text-align: center;
    color: #e90800;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    font-size: 1.3em;
    bottom: 28%;
    display: none;
}

p {
    text-align: center;
    margin-right: 9%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1.5%;
}

p:hover {
    color: #258aff;
}

a {
    text-decoration: none;
}


/* SIGN UP */
#sign_up_navigation_bar {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 10%;
    background-color: #00103a;
}

#sign_up_navigation_bar_border {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 11%;
    background-color: #00103a;
    opacity: 0.3;
}

#sign_up_home_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 23.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_up_home_button:hover {
    cursor: pointer;
    background-color: #258aff;

}

#sign_up_home_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_up_home_button a {
    text-decoration: none;
}

#sign_up_about_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    left: 44.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_up_about_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#sign_up_about_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_up_about_button a {
    text-decoration: none;
}

#sign_up_contact_button {
    position: absolute;
    background-color: #00103a;
    width: 8%;
    height: 50%;
    top: 20%;
    right: 26.5%;
    z-index: 3;
    border: #fffdfe solid 5px;
    border-radius: 15% 15% 15% 15% / 25% 25% 25% 25%;
    -webkit-transition: -webkit-transform 0.11s linear;
    transition: -webkit-transform 0.11s linear;
    -o-transition: transform 0.11s linear;
    transition: transform 0.11s linear;
    transition: transform 0.11s linear, -webkit-transform 0.11s linear;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

#sign_up_contact_button:hover {
    cursor: pointer;
    background-color: #258aff;
}

#sign_up_contact_button p {
    margin-left: 8%;
    margin-top: 4.5%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
}

#sign_up_contact_button a {
    text-decoration: none;
}

#sign_up_horizontal_rectangle {
    height: 60%;
    width: 100%;
    background-color: #000121;
    position: absolute;
    top: 23%;
    z-index: 1;
}

#sign_up_horizontal_rectangle_border {
    height: 64%;
    width: 100%;
    background-color: #00042a;
    position: absolute;
    top: 21%;
    opacity: 0.3;
    z-index: 0;
}

#sign_up_h1_header {
    color: #fff;
    font-size: 4em;
    position: absolute;
    left: 42.6%;
    top: 5%;
    z-index: 2;
}
/* SIGN UP FORM */
#sign_up_form {
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    padding: 5%;
}

input {
    margin-left: 17.5%;
    width: 57%;
    background-color: #000121;
    border: none;
    border-bottom: 3px solid white;
    font-size: 1.5em;
    color: #000000;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border: none;
    border-bottom: 4px solid #254eff;
    outline: none;
}

input, select, textarea {
    color: white;
}

::-webkit-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

::-moz-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

:-ms-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

::-ms-input-placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

::placeholder {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.75em;
}

#register {
    color: black;
    border: none;
    margin-top: 3.5%;
    background-color: #0056d7;
    font-weight: 700;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    margin-bottom: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#register:hover {
    background: #1c29a0;
}

p {
    text-align: center;
    margin-right: 9%;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2%;
}

p:hover {
    color: #258aff;
}

a {
    text-decoration: none;
}
/* ANIMATION */
.context {
    width: 100%;
    position: absolute;
    top: 10vh
}

.area {
    background-color: #1c29a0;
    background-image: url(../background_patterns/swirl.png);
    width: 100%;
    height:100vh
}
.circles {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden
}
.circles li {
    position:absolute;
    display:block;
    list-style:none;
    width:20px;
    height:20px;
    background:rgba(255,255,255,0.2);
    -webkit-animation:animate 25s linear infinite;
    animation:animate 25s linear infinite;
    bottom:-150px
}
.circles li:nth-child(1) {
    background-image:url(../flags/japan.png);
    left:25%;
    width:150px;
    height:150px;
    -webkit-animation-delay:3s;
    animation-delay:3s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(2) {
    background-image:url(../flags/spain.png);
    left:10%;
    width:150px;
    height:150px;
    -webkit-animation-delay:10s;
    animation-delay:10s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(3) {
    background-image:url(../flags/italy.png);
    left:70%;
    width:150px;
    height:150px;
    -webkit-animation-delay:4s;
    animation-delay:4s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(4) {
    background-image: url(../flags/uk.png);
    margin-bottom: 10px;
    left: 40%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s
}
.circles li:nth-child(5) {
    background-image:url(../flags/france.png);
    left:65%;
    width:150px;
    height:150px;
    -webkit-animation-delay:1s;
    animation-delay:1s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(6) {
    background-image:url(../flags/uk.png);
    left:85%;
    width:150px;
    height:150px;
    -webkit-animation-delay:3s;
    animation-delay:3s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(7) {
    background-image:url(../flags/germany.png);
    left:35%;
    width:150px;
    height:150px;
    -webkit-animation-delay:7s;
    animation-delay:7s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(8) {
    background-image:url(../flags/uk.png);
    left:5%;
    width:150px;
    height:150px;
    -webkit-animation-delay:4s;
    animation-delay:4s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(9) {
    background-image:url(../flags/corea.png);
    left:50%;
    width:150px;
    height:150px;
    -webkit-animation-delay:10s;
    animation-delay:10s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(10) {
    background-image:url(../flags/russia.png);
    left:65%;
    width:150px;
    height:150px;
    -webkit-animation-delay:6s;
    animation-delay:6s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
.circles li:nth-child(11) {
    background-image: url(../flags/portugal.png);
    left: 85%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s
}
.circles li:nth-child(12) {
    background-image:url(../flags/italy.png);
    left:22%;
    width:150px;
    height:150px;
    -webkit-animation-delay:6s;
    animation-delay:6s;
    -webkit-animation-duration:10s;
    animation-duration:10s
}
@-webkit-keyframes animate {
    0% {
        -webkit-transform:translateY(0) rotate(0deg);
        transform:translateY(0) rotate(0deg);
        opacity:1;
        border-radius:20%
    }

    100% {
        -webkit-transform:translateY(-1280px) rotate(360deg);
        transform:translateY(-1280px) rotate(360deg);
        opacity:1;
        border-radius:20%
    }
}
@keyframes animate {
    0% {
        -webkit-transform:translateY(0) rotate(0deg);
        transform:translateY(0) rotate(0deg);
        opacity:1;
        border-radius: 20%
    }

    100% {
        -webkit-transform: translateY(-1280px) rotate(360deg);
        transform: translateY(-1280px) rotate(360deg);
        opacity: 1;
        border-radius: 20%
    }
}
