{% extends "words_manager/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'words_manager/css/set_edit.css' %}" type="text/css"/>
{% endblock head %}

{% block content %}

    <div id="edit_set_content">
        <div id="edit_set_rectangle">
            <h1 id="edit_set_title_row_h1">EDIT {{ set }} SET</h1>

            <div id="words_list">
                <ul id="words_list_ul">

                    {% for word in words %}

                        <li class="words_list_li">{{ word }} - {{ word.native_word }}
                            <button class="edit_word_button">edit</button>
                            <button class="delete_word_button">delete</button>
                        </li>

                    {% empty %}
                    
                        <li class="words_list_li">Set {{ set }} is empty</li>

                    {% endfor %}

          
                </ul>
            </div>


            <button id="edit_button">EDIT TITLE</button>
            <a href="{% url 'words_manager:word_add' set.id %}">
                <button id="undo_button">ADD WORD</button>
            </a>
        </div>
    </div>

{% endblock content %}
