{% extends "words_manager/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'words_manager/css/sets_display.css'%}" rel="stylesheet" type="text/css"/>
{% endblock head %}



{% block content %}

    <div id="sets_display_content">
        <div id="sets_display_rectangle">
            <h1 id="sets_display_title_row_h1">MY SETS</h1>
            <div id="sets_list">
                <ul id="set_list_ul">

                    {% for set in sets %}
        
                        <li class="set_list_li">
                            <a href="{% url 'words_manager:set_display' set.id %}">
                                {{ set }}
                            </a>    
                        </li>

                    {% endfor %}

                </ul>

            <!-- SAMI ZAJMIJ SIE TYM -->
            <a href="{% url 'words_manager:set_add'%}">Add set</a>
            <!-- O WLASNIE TYM -->
            </div>
        </div>


    </div>

{% endblock content %}