@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}


.side_bar {
    position: absolute;
    height: 50%;
    top: 29%;
    right: 0%;
    width: 3.2%;
    background-color: #00103a;
    border-radius: 40px 0px 0px 40px;

}

.user_icon {
    margin-left: 26%;
    margin-top: 160%;
}

.user_icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.email_icon {
    margin-left: 26%;
    margin-top: 145%;
}

.email_icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.settings_icon {
    margin-left: 26%;
    margin-top: 145%;
}


.settings_icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

#navigation_bar {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 7%;
    background-color: #00103a;
}

#logo {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 2.5%;
    z-index: 2;
}

#logo:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

#logout_icon {
    position: absolute;
    right: 1%;
    top: 35%;
    z-index: 2;
}

#logout_icon:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

#user_name {
    position: absolute;
    right: 4%;
    top: 40%;
    z-index: 2;
    color: white;
    font-size: 1em;
}

#navigation_bar_border {
    width: 100%;
    position: absolute;
    top: 0%;
    height: 8%;
    background-color: #00103a;
    opacity: 0.3;
}


